<!-- Add Comment-->
<div class="container-fluid border border-dark border-3 rounded-3 my-2 shadow" style="width: 80%;">
    <div class="d-flex flex-wrap row justify-content-between bg-dark ">
        <div class="col-12 text-center text-light  fs-3">
            Add Comment
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-end row bg-dark bg-gradient pe-3">
        <input type="text-area" class="form-control bg-dark bg-gradient text-info border-info mb-2 mt-3 text-center"
            style="height: 10rem; width: 98%;" placeholder="Add a Comment" aria-label="text-input">


        <button type="button"
            class="d-flex flex-wrap justify-content-center col-12 btn btn-dark btn-lg border-info mt-2 mb-3"
            style="max-width: 26vw;">Post
            Comment</button>
    </div>
</div>
<!-- End Add Comment-->